{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}">
  <div class="hero">
    <div class="hero__inner color-{{ section.settings.color_scheme }}">
      <div class="wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'frame' %}
            <div class="frame">
              <div class="frame__inner">
                <img class="frame__inner__img" height="auto" width="auto" src="{{ block.settings.frame_image | img_url: '400x' }}" loading="lazy"/>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.hero.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.hero.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.hero.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.hero.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.hero.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.hero.settings.color_scheme.label"
    }
  ],
  "blocks": [
    {
      "type": "frame",
      "name": "Frame",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "frame_image",
          "label": "Image for Frame"
        }
      ]
    }
  ]
}
{% endschema %}
